<div>
    <form action="/" method="GET">
        <p></p>
        <button name ="ARGetAll">Получить все записи</button>
        <button name ="ARGetByID">Получить запись по ID</button>
        <button name ="ARGetByName">Получить запись по имени пользователя</button>
        <button name ="ARAdd">Добавить запись</button>
        <button name ="ARChange">Изменить запись</button>
        <button name ="ARDelete">Удалить запись</button>
        <p>ID</p>
        <input name="ID" value="">
        <p>дата</p>
        <input name="Newdate" value="">
        <p>логин</p>
        <input name="Newuser" value="">
        <p>сообщение</p>
        <input name="Newmessage" value="">
    </form>
</div>