<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
</html>

<div>
    <form action="/" method="GET">
        <p>Логин</p>
        <input name="login" value="">
        <p>Пароль</p>
        <input name="password" value="">
        <p>Сообщение</p>
        <input name="message">
        <button>Отправить</button>
        <button name ="logs">Логи</button>
    </form>
    <div>
        <form action="/" method="GET">
            <p>С какой таблицей вы хотите работать?</p>
            <p>messages (ActiveRecord)</p>
            <p>logPas (DataMapper)</p>
            <input name="ChosePattern" value="">
            <button name ="ChosePatternBTN">Выбрать</button>
        </form>
    </div>
</div>