<div>
    <form action="/" method="GET">
        <p></p>
        <button name ="MDGetAll">Получить все записи</button>
        <button name ="MDGetByID">Получить запись по ID</button>
        <button name ="MDGetByName">Получить запись по имени пользователя</button>
        <button name ="MDAdd">Добавить запись</button>
        <button name ="MDChange">Изменить запись</button>
        <button name ="MDDelete">Удалить запись</button>
        <p>ID</p>
        <input name="id" value="">
        <p>логин</p>
        <input name="login" value="">
        <p>пароль</p>
        <input name="password" value="">
    </form>
</div>