<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentification</title>
</head>
</html>

<div>
    <form action="/login" method="post">
        <p>Логин</p>
        <input name="login" value="">
        <p>Пароль</p>
        <input name="password" value="">
        <button name = "loginbtn">Войти</button>
    </form>
</div>