<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentification</title>
</head>
</html>

<div>
    <form action="/registration">
        <button>Регистрация</button>
    </form>
</div>