{% extends 'base.html.twig' %}

{% block title %}New UserLikes{% endblock %}

{% block body %}
    <h1>Create new UserLikes</h1>

    {{ include('user_likes/_form.html.twig') }}

    <a href="{{ path('app_user_likes_index') }}">back to list</a>
{% endblock %}
